---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheSeo from "@widgets/seo/TheSeo.vue";
import TheArticle from "@widgets/article/TheArticle.vue";

export function getStaticPaths() {
    return [
        {params: {item: 'news-1'}},
        {params: {item: 'news-2'}},
        {params: {item: 'news-3'}},
    ];
}

const ITEMS = {
    'news-1': {
        id: '1',
        title: 'Скидка на первый заказ',
        description: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p>',
        img: '/img/news/1.jpg',
    },
    'news-2': {
        id: '2',
        title: 'Новое меню',
        description: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p>',
        img: '/img/news/2.jpg',
    },
    'news-3': {
        id: '3',
        title: 'Две пиццы по цене одной',
        description: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque doloremque illo molestiae nam nostrum quia sequi sint tempora tempore!</p>',
        img: '/img/news/3.jpg',
    },
}

const { item } = Astro.params;

const SEO = [
    {
        id: '1',
        title: 'Условия доставки',
        description: '<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым.</p><p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних.</p>',
        img: '/img/seo.jpg'
    }
]
---

<Layout title={ITEMS[item].title}>
    <section class="mb-100">
        <div class="container">
            <div class="page-header">
                <AppBreadcrumb list={[{label: 'Новости и акции', href: '/news'}, {label: ITEMS[item].title}]}/>
                <h1 class="text-36">{ITEMS[item].title}</h1>
            </div>
            <TheArticle data={ITEMS[item]} client:load/>
        </div>
    </section>
    <section class="mb-100">
        <div class="container">
            <TheSeo data={SEO} client:load/>
        </div>
    </section>
</Layout>
