---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheNewsGrid from "@widgets/news/TheNewsGrid.vue";
import TheSeo from "@widgets/seo/TheSeo.vue";
import {http} from "../../app/utils/http";

let load = false
const PAGE = await http({url: '/api/pages/news'})
load = true
---

<Layout title="Новости и акции">
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: 'Новости и акции'}]}/>
                        <h1 class="text-36">{PAGE.news.news.title}</h1>
                    </div>
                    <TheNewsGrid data={PAGE.news.news.list} client:load/>
                </div>
            </section>
            <TheSeo data={PAGE.news.seo} client:load/>
    )}
</Layout>
