.cards {
  &-move,
  &-enter-from,
  &-leave-to {
    transition: .3s;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    z-index: -1;
  }

  &-leave-active {
    position: absolute;
  }
}


.accordion {
  &-enter-active,
  &-leave-active {
    overflow: hidden;
    transition: height .3s ease;
  }

  &-enter-from,
  &-leave-to {
    height: 0;
  }

  &-leave-from,
  &-enter-to{
    height: var(--accordion-height);
  }
}
