.cards {
  &-move,
  &-enter-from,
  &-leave-to {
    transition: .3s;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    z-index: -1;
  }

  &-leave-active {
    position: absolute;
  }
}

.accordion {
  &-enter-active,
  &-leave-active {
    overflow: hidden;
    transition: height .3s ease;
  }

  &-enter-from,
  &-leave-to {
    height: 0;
  }

  &-leave-from,
  &-enter-to {
    height: var(--accordion-height);
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.4s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.right-enter-active,
.right-leave-active {
  transition: opacity 0.4s ease;
}

.right-enter-from,
.right-leave-to {
  opacity: 0;
}

.right-enter-from .popup-content {
  transform: translateX(100%);
}

.right-enter-to .popup-content {
  transform: translateX(0);
}

.right-leave-from .popup-content {
  transform: translateX(0);
}

.right-leave-to .popup-content {
  transform: translateX(100%);
}
