@use "media";

:root {
  --conteiner: 1200px;
  --conteiner-padding: 15px;
  --radius-40: 40px;
  --radius-30: 30px;
  --radius-20: 20px;
  --radius-15: 15px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-2: 2px;
  --gap-page: 30px;

  --main-white: #ffffff;
  --gradient: rgba(130, 225, 255, 0.25) 7.78%, rgba(159, 186, 255, 0.25) 48.74%, rgba(214, 182, 255, 0.25) 92.35%;
  --gradient-2:  #DDE7FF 19.22%, #F5ECFF 82.14%;

  --main-color-1: #A074FF;
  --main-color-1-hover: #8B5CEE;
  --main-color-2: #F7F3FF;
  --main-color-3: #BD9EFD;
  --main-color-3-hover: #E8E0FF;
  --main-color-4: #F8F8F8;
  --main-color-5: #F1ECFF;
  --main-color-6: #F9F6FF;
  --main-color-7: #FBFAFF;
  --main-color-8: #F5F5F5;
  --main-color-9: #DBDBDB;

  --main-error-1: #FCEAF3;
  --main-error-2: #FF0000;

  --text-color-1: #252525;
  --text-color-1-rgb: 37, 37, 37;
  --text-color-2: #767D7D;
  --text-color-3: #A6A8A7;
  --text-color-4: #DEDEDE;
  --text-color-5: #858585;

  --border-color-1: #F2F2F2;
  --border-color-2: #DCD7E7;

  --family: "Lato", serif;

  --size-main: 16px;

  @include media.respond-to(960) {
    --conteiner-padding: 30px;
    --gap-page: 20px;
  }
  @include media.respond-to(640) {
    --radius-30: 20px;
    --radius-20: 16px;
    --conteiner-padding: 20px;
  }
  @include media.respond-to(360) {
    --conteiner-padding: 15px;
    --gap-page: 15px;
  }
  @include media.respond-to(320) {
    --conteiner-padding: 10px;
  }
}