---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'

---

<Layout title="Страница не найдена">
    <section class="mb-100">
        <div class="container">
            <div class="page-header page-header_center">
                <h1 class="text-36">Страница не найдена</h1>
                <p>Запрашиваемая страница "/404" не найдена.</p>
                <p>Вернитесь на <a href="/">главную</a></p>
            </div>
        </div>
    </section>
</Layout>
