---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheContacts from "@widgets/contacts/TheContacts.vue";
import MapDelivery from "@features/map/MapDelivery.vue";
import TheSeo from "@widgets/seo/TheSeo.vue";

const CONTACTS = [
    {
        id: 1,
        label: 'Режим Работы',
        value: ['с 10:00 до 24:00', 'пт- сб: 10:00 до 02:00'],
        mode: true
    },
    {
        id: 2,
        label: 'Время ожидания',
        value: ['пн–чт: от 30 минут', 'пт– вс: от 90 минут'],
        mode: true
    },
    {
        id: 3,
        label: 'Реквизиты',
        value: 'ИП «Тихонов Павел Сергеевич» <br> Адрес: 664048, г. Иркутск, <br> Ленинский округ, Баумана, 219/2, 22 <br> Тел.: +7 924 636 5121 <br> ИНН: 381607759706 <br> ОГРНИП: 315385000057281',
        big: true
    },
    {
        id: 4,
        label: 'Доставка',
        value: 'Доставка по городу осуществляется бесплатно при заказе от 500 рублей. Стоимость доставки по району уточняйте у оператора.',
    },
    {
        id: 5,
        label: 'Оплата',
        value: 'Оплатить заказ можно наличными или по карте при получение заказа',
    },
]
const DELIVERY = {
    label: 'Карта доставки',
    img: '/img/map.jpg'
}
const SEO = [
    {
        id: '1',
        title: 'Условия доставки',
        description: '<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым.</p><p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних.</p>',
        img: '/img/seo.jpg'
    }
]
---

<Layout title="Доставка и оплата">
    <section class="mb-100">
        <div class="container">
            <div class="page-header">
                <AppBreadcrumb list={[{label: 'Доставка и оплата'}]}/>
                <h1 class="text-36">Доставка и оплата</h1>
            </div>
            <TheContacts data={CONTACTS} class="mb-50"/>
            <MapDelivery data={DELIVERY}/>
        </div>
    </section>
    <section class="mb-100">
        <div class="container">
            <TheSeo data={SEO} client:load/>
        </div>
    </section>
</Layout>
