---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheLkNavbar from '@widgets/lk/TheLkNavbar.vue'
import TheProducts from '@widgets/products/TheProducts.vue'
import {http} from "../app/utils/http";
import {serverCookies} from "../app/utils/apiGlobal";

let load = false
const cookies = serverCookies(Astro.cookies)
const favorites = await http({url: '/api/pages/favorites', cookies: JSON.stringify(cookies), token: cookies.token})
load = true
---

<Layout title="Избранные товары">
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: 'Избранные товары'}]}/>
                        <h1 class="text-36">Избранные товары</h1>
                    </div>
                    <div class="content-flex">
                        <TheLkNavbar v-if={false} client:only/>
                        <div class="content-flex__right">
                            <TheProducts data={favorites} client:only/>
                        </div>
                    </div>
                </div>
            </section>
    )}
</Layout>
