---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheOrderAdditional from '@widgets/order/TheOrderAdditional.vue'
import TheOrderList from '@widgets/order/TheOrderList.vue'
import TheOrderForm from '@widgets/order/TheOrderForm.vue'
import {http} from "../app/utils/http";

let load = false
const order = await http({url: '/api/pages/order'})
load = true
---

<Layout title={order.title}>
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: order.title}]}/>
                        <h1 class="text-36">{order.title}</h1>
                    </div>
                    <div class="order">
                        <div class="order__left">
                            <TheOrderList client:only/>
                            <TheOrderAdditional client:only/>
                        </div>
                        <div class="order__right">
                            <TheOrderForm client:only/>
                        </div>
                    </div>
                </div>
            </section>
    )}
</Layout>
