---
import '@style/app.scss'
import TheHeader from '@widgets/header/TheHeader.vue'
import TheFooter from '@widgets/footer/TheFooter.vue'
import ThePopupBasket from '@widgets/popup/ThePopupBasket.vue'
import ThePopupCall from '@widgets/popup/ThePopupCall.vue'
import ThePopupAuth from '@widgets/popup/ThePopupAuth.vue'
import ThePopupBurger from '@widgets/popup/ThePopupBurger.vue'
import ThePopupCard from '@widgets/popup/ThePopupCard.vue'
import ThePresentPopup from '../widgets/present/ThePresentPopup.vue'
import ThePresentBar from '../widgets/present/ThePresentBar.vue'
import TheButtonTop from '../widgets/TheButtonTop.vue'
import TheDocument from './TheDocument.vue'
import {http} from "../app/utils/http";

const {title, data} = Astro.props

// то что грузиться всегда (может у юзера что то изменить)
const PAGE = {
    nav: {
        menu: [
            {
                id: '1',
                name: 'Бургеры',
            },
            {
                id: '2',
                name: 'Шашлыки'
            },
            {
                id: '3',
                name: 'Салаты'
            },
            {
                id: '4',
                name: 'Супы'
            },
            {
                id: '5',
                name: 'Горячее'
            },
            {
                id: '6',
                name: 'Роллы'
            },
            {
                id: '7',
                name: 'Пицца'
            },
            {
                id: '9',
                name: 'Десерты'
            },
            {
                id: '10',
                name: 'Напитки'
            },
            {
                id: '11',
                name: 'Соусы'
            },
        ],
        links: [
            {
                id: '1',
                name: 'О нас',
                href: '/about'
            },
            {
                id: '2',
                name: 'Доставка и оплата',
                href: '/delivery'
            },
            {
                id: '3',
                name: 'Отзывы',
                href: '/reviews'
            },
            {
                id: '4',
                name: 'Контакты',
                href: '/contacts'
            },
            {
                id: '5',
                name: 'Новости',
                href: '/news'
            },
        ],
        highlight: [
            {
                id: '01',
                name: 'Акции',
                highlight: true
            },
        ]
    }, // навигация
    user: {
        id: 1,
        img: '/img/user.jpg',
        name: 'Екатерина',
        surname: 'Золинa',
        phone: '+7(914)88-88-888',
        email: 'info@dellive.ru',
        login: 'testLogin',
        bonus: 200,
        discount: 1,
        history: [
            {
                id: 1,
                date: 1619280000000,
                number: 1245,
                total: 968,
                status: 'Завершён',
                bonus: {
                    increment: 123,
                    decrement: 90
                },
                list: [
                    {
                        id: 1,
                        img: '/img/products/1.jpg',
                        name: 'Бургер',
                        price: 238,
                        amount: 2
                    },
                    {
                        id: 2,
                        img: '/img/products/2.jpg',
                        name: 'Wok',
                        price: 238,
                        amount: 1
                    }
                ]
            },
            {
                id: 2,
                date: 1619280000000,
                number: 1245,
                total: 968,
                status: 'Завершён',
                bonus: {
                    increment: 123,
                    decrement: 90
                },
                list: [
                    {
                        id: 1,
                        img: '/img/products/1.jpg',
                        name: 'Бургер',
                        price: 238,
                        amount: 2
                    },
                    {
                        id: 2,
                        img: '/img/products/2.jpg',
                        name: 'Wok',
                        price: 238,
                        amount: 1
                    }
                ]
            },
            {
                id: 3,
                date: 1619280000000,
                number: 1245,
                total: 968,
                status: 'Завершён',
                bonus: {
                    increment: 123,
                    decrement: 90
                },
                list: [
                    {
                        id: 1,
                        img: '/img/products/1.jpg',
                        name: 'Бургер',
                        price: 238,
                        amount: 2
                    },
                    {
                        id: 2,
                        img: '/img/products/2.jpg',
                        name: 'Wok',
                        price: 238,
                        amount: 1
                    }
                ]
            }
        ],
        basket: [
            {
                id: 1,
                name: 'Мисо-суп',
                description: 'Семга терияки, сливочный сыр, огурец, стружка тунца',
                amount: 1,
                img: '/img/products/1.jpg',
                price: 1259,
                info: '8 шт. 140 гр.'
            },
            {
                id: 2,
                name: 'test',
                description: 'Семга терияки, сливочный сыр, огурец, стружка тунца',
                amount: 1,
                img: '/img/products/1.jpg',
                price: 259,
                info: '8 шт. 140 гр.'
            },
            {
                id: 3,
                name: 'test',
                description: 'Семга терияки, сливочный сыр, огурец, стружка тунца',
                amount: 2,
                img: '/img/products/1.jpg',
                price: 259,
                info: '8 шт. 140 гр.'
            }
        ],
        favorites: []
    }, // пользователь
}
const setting = await http({url: '/api/setting'})
---

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="stylesheet" href="/fonts/fonts.css">
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
</head>
<body>
<TheDocument data={{...data, ...PAGE, ...setting.data}} client:load>
    <TheHeader client:load/>
    <main>
        <slot/>
    </main>
    <TheFooter client:load/>
    <ThePopupBurger client:load/>
    <ThePopupBasket client:only/>
    <ThePopupCall client:only/>
    <ThePopupAuth client:only/>
    <ThePresentPopup client:only/>
    <ThePopupCard client:only/>
    <div class="fixed-bar">
        <ThePresentBar client:only/>
        <TheButtonTop client:only/>
    </div>
</TheDocument>
</body>
</html>