---
import '@style/app.scss'
import TheHeader from '@widgets/header/TheHeader.vue'
import TheFooter from '@widgets/footer/TheFooter.vue'
import ThePopupBasket from '@widgets/popup/ThePopupBasket.vue'
import ThePopupCall from '@widgets/popup/ThePopupCall.vue'
import ThePopupAuth from '@widgets/popup/ThePopupAuth.vue'
import ThePopupBurger from '@widgets/popup/ThePopupBurger.vue'
import ThePopupCard from '@widgets/popup/ThePopupCard.vue'
import ThePresentPopup from '../widgets/present/ThePresentPopup.vue'
import ThePresentBar from '../widgets/present/ThePresentBar.vue'
import TheButtonTop from '../widgets/TheButtonTop.vue'
import TheDocument from './TheDocument.vue'

const {title, data} = Astro.props
---

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="stylesheet" href="/fonts/fonts.css">
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
</head>
<body>
<div class="wrapper" id="app">
    <TheDocument data={data} client:load>
        <TheHeader client:load/>
        <main>
            <slot/>
        </main>
        <TheFooter client:load/>
        <ThePopupBurger client:load/>

        <ThePopupBasket client:only/>
        <ThePopupCall client:only/>
        <ThePopupAuth client:only/>
        <ThePresentPopup client:only/>
        <ThePopupCard client:only>

        <div class="fixed-bar">
            <ThePresentBar client:only/>
            <TheButtonTop client:only/>
        </div>
    </TheDocument>
</div>

</body>
</html>