---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheSeo from "@widgets/seo/TheSeo.vue";
import TheProduct from "@widgets/product/TheProduct.vue";
import {http} from "../../app/utils/http";

export function getStaticPaths() {
    return [
        {params: {item: 'test'}}
    ];
}

const {item} = Astro.params;

let load = false
const home = await http({url: '/api/pages/home'})
load = true
---

<Layout title="Корейский">
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: 'Каталог', href: '/catalog'}, {label: 'Корейский'}]}/>
                        <h1 class="text-36">Корейский</h1>
                    </div>
                    <TheProduct/>
                </div>
            </section>
            <TheSeo data={home.seo} client:load/>
    )}
</Layout>
