---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheSeo from "@widgets/seo/TheSeo.vue";

const CATALOG = [
    {
        id: '1',
        name: 'Корейский ',
        category: 'Горячее',
        status: [1],
        description: 'Мини-кукуруза, лук, морковь, капуста…',
        price: 159,
        oldPrice: 259,
        weight: 140,
        img: '/img/products/1.jpg'
    },
    {
        id: '2',
        name: 'Бургер',
        category: 'Салаты',
        status: [1, 2],
        description: 'Котлета говяжья, салат, помидор, сыр, соус…',
        price: '259',
        weight: 140,
        img: '/img/products/2.jpg'
    },
    {
        id: '3',
        name: 'Мисо-суп',
        category: 'Супы',
        status: [1, 2],
        description: 'Суп с сёмгой, луком, морковью, картофелем и…',
        price: 159,
        oldPrice: 259,
        weight: 140,
        img: '/img/products/3.jpg'
    },
    {
        id: '4',
        name: 'Рыбные палочки',
        category: 'Пицца',
        status: [1],
        description: 'Рыбные палочки, панировка, морковь, лук…',
        price: 159,
        weight: 140,
        img: '/img/products/4.jpg'
    },
    {
        id: '5',
        name: 'Wok',
        category: '1',
        status: [1],
        description: 'Пшеничная лапша, курица, шампиньоны, перец…',
        price: 159,
        oldPrice: 259,
        weight: 140,
        img: '/img/products/5.jpg'
    },
    {
        id: '6',
        name: 'Рис с курицей',
        category: '1',
        status: [1, 2],
        description: 'Рис, курица, лук, петрушка, соус терияки…',
        price: 159,
        weight: 140,
        img: '/img/products/6.jpg'
    },
    {
        id: '7',
        name: 'Мисо-суп',
        category: '1',
        status: [1, 2],
        description: 'Суп с сёмгой, луком, морковью, картофелем и…',
        price: 159,
        oldPrice: 259,
        weight: 140,
        img: '/img/products/7.jpg'
    },
    {
        id: '8',
        name: 'Рис по‑тайски',
        category: '1',
        status: [1],
        description: 'Рис, креветки, красный перец, лук, стручковая…',
        price: 159,
        weight: 140,
        img: '/img/products/8.jpg'
    },

    {
        id: '9',
        name: 'Корейский ',
        category: '1',
        status: [1, 2],
        description: 'Мини-кукуруза, лук, морковь, капуста…',
        price: 159,
        oldPrice: 259,
        weight: 140,
        img: '/img/products/1.jpg'
    },
    {
        id: '10',
        name: 'Бургер',
        category: '1',
        status: [1, 2],
        description: 'Котлета говяжья, салат, помидор, сыр, соус…',
        price: '259',
        weight: 140,
        img: '/img/products/2.jpg'
    },
    {
        id: '11',
        name: 'Мисо-суп',
        category: '1',
        status: [1, 2],
        description: 'Суп с сёмгой, луком, морковью, картофелем и…',
        price: 159,
        oldPrice: 259,
        weight: 140,
        img: '/img/products/3.jpg'
    },
    {
        id: '12',
        name: 'Рыбные палочки',
        category: '1',
        status: [1, 2, 3],
        description: 'Рыбные палочки, панировка, морковь, лук…',
        price: 159,
        weight: 140,
        img: '/img/products/4.jpg'
    },
]
const SEO = [
    {
        id: '1',
        title: 'Условия доставки',
        description: '<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым.</p><p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних.</p>',
        img: '/img/seo.jpg'
    }
]
---

<Layout title="Каталог товаров">
    <section class="mb-100">
        <div class="container">
            <div class="page-header">
                <AppBreadcrumb list={[{label: 'Каталог товаров'}]}/>
                <h1 class="text-36">Каталог товаров</h1>
            </div>

        </div>
    </section>
    <section class="mb-100">
        <div class="container">
            <TheSeo data={SEO} client:load/>
        </div>
    </section>
</Layout>
